<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Filmatch</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link
  rel="stylesheet"
  href="/stylesheets/pagina-cadastro/apresentacao.css"
/>
<link rel="stylesheet" href="/stylesheets/pagina-cadastro/formulario-cadastro.css" />
<link rel="stylesheet" href="/stylesheets/pagina-cadastro/mainCadastro.css" />
<link
  rel="stylesheet"
  href="/stylesheets/pagina-cadastro/mediaQuery.css"
/>
<link rel="stylesheet" href="/stylesheets/forum/main-forum.css">
<link rel="stylesheet" href="/stylesheets/forum/img-forum.css">
<link rel="stylesheet" href="/stylesheets/forum/informacoes-importantes.css">
<link rel="stylesheet" href="/stylesheets/forum/mensagens-forum.css">
<link rel="stylesheet" href="/stylesheets/forum/titulo-forum.css">
<link rel="stylesheet" href="/stylesheets/forum/ultima-publicacao.css">
<link rel="stylesheet" href="/stylesheets/forum/media-query-forum.css">
<link rel="stylesheet" href="/stylesheets/resultado-filme/main-resultado-filme.css">
<link rel="stylesheet" href="/stylesheets/resultado-filme/media-query-resultado.css">
<link rel="stylesheet" href="/stylesheets/resultado-filme/forum-resultado.css">
<link rel="stylesheet" href="/stylesheets/resultado-filme/poster__resultado.css">
<link rel="stylesheet" href="/stylesheets/resultado-filme/sessoes.css">
<link rel="stylesheet" href="/stylesheets/resultado-filme/sinopse.css">
<link rel="stylesheet" href="/stylesheets/criar-sessao/main-criar-sessao.css">
<link rel="stylesheet" href="/stylesheets/criar-sessao/media-query-criar-sessao.css">
<link rel="stylesheet" href="/stylesheets/criar-sessao/botao-criar-sessao.css">
<link rel="stylesheet" href="/stylesheets/criar-sessao/input-criar-sessao.css">
<link rel="stylesheet" href="/stylesheets/sessaocriada.css">
<link rel="stylesheet" href="/stylesheets/perfil/main-perfil.css">
<link rel="stylesheet" href="/stylesheets/perfil/mediaQueryPerfil.css">
<link rel="stylesheet" href="/stylesheets/perfil/fundo-perfil.css">
<link rel="stylesheet" href="/stylesheets/perfil/info-perfil.css">
<link rel="stylesheet" href="/stylesheets/perfil/conteudo-perfil.css">
<link rel="stylesheet" href="/stylesheets/perfil/sobre-mim-perfil.css">
<link rel="stylesheet" href="/stylesheets/perfil/atividades-recentes-perfil.css">
<link rel="stylesheet" href="/stylesheets/perfil-usuario/main__perfil__usuario.css">
<link rel="stylesheet" href="/stylesheets/perfil-usuario/configuracoes.css">
<link rel="stylesheet" href="/stylesheets/perfil-usuario/editar-configuracoes.css">
<link rel="stylesheet" href="/stylesheets/resultadoBusca.css">
<link rel="stylesheet" href="/stylesheets/login/login.css">
<link rel="stylesheet" href="/stylesheets/perfil-usuario/editar-perfil/sobre__mim.css">
<link rel="stylesheet" href="/stylesheets/perfil-usuario/tickets/tickets.css">
<link rel="stylesheet" href="/stylesheets/sessao-criada/sessaoCriada.css">
<link rel="stylesheet" href="/stylesheets/criar-sessao/select-criar-sessao.css">
<link rel="stylesheet" href="/stylesheets/todos-filmes/caixa.css">
<link rel="stylesheet" href="/stylesheets/resultado-busca/resultadoBusca.css">
<link rel="stylesheet" href="/stylesheets/pagina-suporte/suporte.css">
<link rel="stylesheet" href="/stylesheets/movies/movies.css">
<link rel="stylesheet" href="/stylesheets/movies/proximas-sessoes.css">
<script defer src="/scripts.js"></script> 
</head>
