.main__resultado__busca{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    height: 40.25rem;
}

.poster__busca{
    margin-top: 3rem;
    display: flex;
}

.sinopse{
    width: 40.75rem;
    height: 10rem;
    margin-top: 0.5rem;
    margin-left: 0;
    background-color: rgba(196, 196, 196, 0.1);
    border-radius: 10px;
    padding: 1rem;
}

