<%-include('./partials/head')%>

<body>
  <%-include('./partials/header')%>
  <main class="main__forum">
    <div>
      <div class="forums">
        <h3 class=" ">Fórums</h3>
        <button class="iniciar__topico">Iniciar um tópico</button>
      </div>
      <div class="mensagens__forum">
        <p class="mensagens__filmatch">Mensagens da <strong style="color: #8E0E00;">FILMATCH</strong></p>
      </div>
      <div class="informaçoes__importantes">
        <img class="img__forum" src="/images/imagens-forum/bx_bxs-backpack.svg" alt="">
        <div class="conteudo__informaçoes">
          <p class="escrita__conteudo">Informaçoes importantes</p>
          <a href="#"><p class="escrita__conteudo">Regras importantes</p></a>
          <p class="escrita__conteudo">Aprenda as regras do forum e fique ligado</p>
        </div>
        <div class="ultima__publicacao">
          <img class="user__publicacao" src="/images/imagens-forum/carbon_user-avatar.svg" alt="">
          <div class="conteudo__informaçoes">
            <p class="escrita__conteudo"><strong style="color: #8E0E00;">Nome do Tópico</strong></p>
            <p class="escrita__conteudo">By Lorem ipsun</p>
            <p class="escrita__conteudo">27 de Novembro,2021</p>
          </div>
        </div>
      </div>
      <div class="informaçoes__importantes">
        <img class="img__forum" src="/images/imagens-forum/bx_bxs-backpack.svg" alt="">
        <div class="conteudo__informaçoes">
          <p class="escrita__conteudo">Noticias e novidades</p>
          <a href="#"><p class="escrita__conteudo">Sessôes em Manutenção</p></a>
          <p class="escrita__conteudo">Fique ligado em noticias e acontecimentos da Filmatch!</p>
        </div>
        <div class="ultima__publicacao">
          <img class="user__publicacao" src="/images/imagens-forum/carbon_user-avatar.svg" alt="">
          <div class="conteudo__informaçoes">
            <p class="escrita__conteudo"><strong style="color: #8E0E00;">Nome do Tópico</strong></p>
            <p class="escrita__conteudo">By Lorem ipsun</p>
            <p class="escrita__conteudo">27 de Novembro,2021</p>
          </div>
        </div>
      </div>
      <div class="mensagens__forum">
        <p class="mensagens__filmatch">Comunidade <strong style="color: #8E0E00;">FILMATCH</strong></p>
      </div>
      <div class="informaçoes__importantes">
        <img class="img__forum" src="/images/imagens-forum/bx_bxs-backpack.svg" alt="">
        <div class="conteudo__informaçoes">
          <p class="escrita__conteudo">Noticias e novidades</p>
          <a href="#"><p class="escrita__conteudo">Sessôes em Manutenção</p></a>
          <p class="escrita__conteudo">Fique ligado em noticias e acontecimentos da Filmatch!</p>
        </div>
        <div class="ultima__publicacao">
          <img class="user__publicacao" src="/images/imagens-forum/carbon_user-avatar.svg" alt="">
          <div class="conteudo__informaçoes">
            <p class="escrita__conteudo"><strong style="color: #8E0E00;">Nome do Tópico</strong></p>
            <p class="escrita__conteudo">By Lorem ipsun</p>
            <p class="escrita__conteudo">27 de Novembro,2021</p>
          </div>
        </div>
      </div>
      <div class="informaçoes__importantes">
        <img class="img__forum" src="/images/imagens-forum/bx_bxs-backpack.svg" alt="">
        <div class="conteudo__informaçoes">
          <p class="escrita__conteudo">Noticias e novidades</p>
          <a href="#"><p class="escrita__conteudo">Sessôes em Manutenção</p></a>
          <p class="escrita__conteudo">Fique ligado em noticias e acontecimentos da Filmatch!</p>
        </div>
        <div class="ultima__publicacao">
          <img class="user__publicacao" src="/images/imagens-forum/carbon_user-avatar.svg" alt="">
          <div class="conteudo__informaçoes">
            <p class="escrita__conteudo"><strong style="color: #8E0E00;">Nome do Tópico</strong></p>
            <p class="escrita__conteudo">By Lorem ipsun</p>
            <p class="escrita__conteudo">27 de Novembro,2021</p>
          </div>
        </div>
      </div>
      <div class="informaçoes__importantes">
        <img class="img__forum" src="/images/imagens-forum/bx_bxs-backpack.svg" alt="">
        <div class="conteudo__informaçoes">
          <p class="escrita__conteudo">Noticias e novidades</p>
          <a href="#"><p class="escrita__conteudo">Sessôes em Manutenção</p></a>
          <p class="escrita__conteudo">Fique ligado em noticias e acontecimentos da Filmatch!</p>
        </div>
        <div class="ultima__publicacao">
          <img class="user__publicacao" src="/images/imagens-forum/carbon_user-avatar.svg" alt="">
          <div class="conteudo__informaçoes">
            <p class="escrita__conteudo"><strong style="color: #8E0E00;">Nome do Tópico</strong></p>
            <p class="escrita__conteudo">By Lorem ipsun</p>
            <p class="escrita__conteudo">27 de Novembro,2021</p>
          </div>
        </div>
      </div>
      <div class="informaçoes__importantes">
        <img class="img__forum" src="/images/imagens-forum/bx_bxs-backpack.svg" alt="">
        <div class="conteudo__informaçoes">
          <p class="escrita__conteudo">Noticias e novidades</p>
          <a href="#"><p class="escrita__conteudo">Sessôes em Manutenção</p></a>
          <p class="escrita__conteudo">Fique ligado em noticias e acontecimentos da Filmatch!</p>
        </div>
        <div class="ultima__publicacao">
          <img class="user__publicacao" src="/images/imagens-forum/carbon_user-avatar.svg" alt="">
          <div class="conteudo__informaçoes">
            <p class="escrita__conteudo"><strong style="color: #8E0E00;">Nome do Tópico</strong></p>
            <p class="escrita__conteudo">By Lorem ipsun</p>
            <p class="escrita__conteudo">27 de Novembro,2021</p>
          </div>
        </div>
      </div>
      <div class="informaçoes__importantes">
        <img class="img__forum" src="/images/imagens-forum/bx_bxs-backpack.svg" alt="">
        <div class="conteudo__informaçoes">
          <p class="escrita__conteudo">Noticias e novidades</p>
          <a href="#"><p class="escrita__conteudo">Sessôes em Manutenção</p></a>
          <p class="escrita__conteudo">Fique ligado em noticias e acontecimentos da Filmatch!</p>
        </div>
        <div class="ultima__publicacao">
          <img class="user__publicacao" src="/images/imagens-forum/carbon_user-avatar.svg" alt="">
          <div class="conteudo__informaçoes">
            <p class="escrita__conteudo"><strong style="color: #8E0E00;">Nome do Tópico</strong></p>
            <p class="escrita__conteudo">By Lorem ipsun</p>
            <p class="escrita__conteudo">27 de Novembro,2021</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%-include('./partials/footer')%>
</body>
