<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <header>
      <div class="logo-name">
        <a href="#">Filmatch</a>
      </div>
    </header>
    <main>
      <div>
        <h1>
          Feito por quem gosta de <span>assistir</span>, para quem
          <span>assiste</span>.
        </h1>
        <p>
          Somos pessoas apaixonadas por filmes, séries e tudo que é audiovisual.
          Acreditamos no potencial de pessoas se ligarem a partir desse mesmo
          conceito que todos gostamos.
        </p>
        <p>Created By Bruno, Jonas, Gustavo e Beatriz</p>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
