.main__top__movies{
    height:53rem;
  
  }
  
  .top_movies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .movie_item {
    height: 25rem;
   
  }
  
  .movie_item img {
    width: 14rem;
    height: 80%;
    border: 5px solid rgba(255, 255, 255, 0.4);
  }
  
  .title_movie {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    width: 218px;
  }
  
  .title-movie{
    width: 215px;
    align-items: center;
  }